<!DOCTYPE html>
<html>
    <head>
    <H1>All data from DB</H1>
    <title>Bank's card validator</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="shortcut icon" type="image/png" href="favicon.ico" />
    </head>
<body>
<hr>
<br/>
<br/>
<br/>
          <table class="EJSview">
                <tr>
                    <td >Number</td>
                    <td >cardnumber</td>
                    <td >result</td>
                    <td >timeStamp</td>
                    <td >comments</td>
                </tr>
          </table>
    
    <div class="links-text">
    <a href="/" target="_self">Back to Main page</a> 
    </div>
</body>
</html>
